* {
	color: black;
	background: grey;
	font-size: 1rem;
	padding: 20px;
	margin: 20px;
}
.header {
	margin: 22px;
	padding-top: 20 px;
	text-align: center;
	color: white;
	font-size: 2rem;
}

search {
	overflow: auto;
	margin-bottom: 10px;
	background: white;
}
