* {
	box-sizing: border-box;
	margin: 50;
	padding: 50;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

.header {
	background-color: rgb(19, 58, 117);
	padding: 25px;
	color: white;
	font-size: 2rem;
	text-align: center;
}

.subhead {
	font-size: 1rem;
}
